
<iframe class="appcontainer" src=<%= welcome_path %> scrolling="no" frameBorder="0"></iframe>

<div class="appmenu">
  <div class="title">Apps</div>
</div>

<div class="messageboard">

  <div class="note">
    <b>Roberto</b>: Welcome to the MAGIC Web-App container.
  </div>
</div>

<div class="qrcode">
<img src="/img/scan.png">
<% if @displayname == "standalonedemo" %>
<%= image_tag "demoqrcode.png" %>
<%  else %>
<%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=#{@qrcodeurl}&choe=UTF-8" %>
<% end %>

</div>

<div class="qrcodeurl">
<b> <%= @texturl %> </b>
</div>

<div id="interact-instructions">
  <div id="instructions-block">
    <%= image_tag("seedlings.gif", alt: "video", id: "interact-instructions-video") %>
  </div>
</div>
 <!-- Advertisement has been disabled after PhD Experiment.
 <div id="advertisement">WATER GARDEN.<br>EARN POINTS.<br>WIN MEALS.</div>
 -->
<div id="checkin-notice"><div class='checkin-notice-person'>Anonymous just checked in!</div></div>



