
<div class="row">
  <div class="span11 offset1">
    <div class="profile_picture">
    <%= image_tag @user_to_display.picture_url, :border => 0, :id => @user_to_display.id, :class => "profile_picture", :alt => "profile_picture" %>
    </div>

    <hr>
    <h4>Ask for a favour to <%= @user_to_display.name %></h4>
    <div class="tutorial-text">
      You can only request ONE favour PER DAY to <%= @user_to_display.name %>. 
    </div>
    <%= render 'favours/favour_form', :user => @user_to_display, :from => @user, :favour_today => @favour_today, :display_id => @display_id %>

    <hr>
    <h4>Send a gift to <%= @user_to_display.name %></h4>
    <div class="tutorial-text">
      You can only send ONE gift PER DAY to <%= @user_to_display.name %>. 
    </div>
    <%= render 'gifts/gift_form', :user => @user_to_display, :from => @user, :gift_today => @gift_today, :display_id => @display_id %>



    <hr>
    <h4>Message <%= @user_to_display.name %></h4>
    <div class="tutorial-text">
      These messages can only be read by you and <%= @user_to_display.name %>.
    </div>
    <%= form_for (@message) do |f| %>
      <%= render 'messages/fields', f: f %><br>
      <%= f.submit "Send", class: "btn btn-large btn-primary" %> 
    <% end %>
    


    <div class="messages">
      <% @messages.each do |message| %>
        <div class ='<%= message.from.to_s == @user.id.to_s ? "from" : "to" %>' >    
          <%= message.message %> 
          <p class="date">
            <%= message.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d (%H:%M)") %>
            <img src='<%= message.from.to_s == @user.id.to_s ? @user.thumbnail_url : @user_to_display.thumbnail_url %>' class="message_thumbnail">
          </p>
        </div>

      <% end %>
    </div>

  </div>
</div>



