
<div class="row">
  <div class="span11 offset1">
    <div class="profile_picture">
    <%= image_tag @user_to_display.picture_url, :border => 0, :id => @user_to_display.id, :class => "profile_picture", :alt => "profile_picture" %>
    </div>
    <h3>Message <%= @user_to_display.name %></h3>
    <%= form_for (@message) do |f| %>
      <%= render 'messages/fields', f: f %><br>
      <%= f.submit "Send", class: "btn btn-large btn-primary" %> 
    <% end %>
    <div class="tutorial-text">
    These messages can only be read by you and <%= @user_to_display.name %>.
    </div>
    <div class="messages">
      <% @messages.each do |message| %>
        <div class ='<%= message.from.to_s == @user.id.to_s ? "from" : "to" %>' >    
          <%= message.message %> 
          <p class="date">
            <%= message.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d (%H:%M)") %>
            <img src='<%= message.from.to_s == @user.id.to_s ? @user.thumbnail_url : @user_to_display.thumbnail_url %>' class="message_thumbnail">
          </p>
        </div>

      <% end %>
    </div>

  </div>
</div>



