<div class="row">


  <div class="span10 offset1">
    <div class="signin-welcome">
      <span style="color:#4BB66E">Welcome to </span>my<%= image_tag("seedlings-logo.png", alt: "logo") %>
    </div>
    <div class="signin-intro">
      <div class="signin-intro-people">
        <% @userlist.each do |user| %>
          <div class="userlistitem-login" id="<%= user[:user].id %>" >
            <%= image_tag(user[:user].thumbnail_url, :border => 0, :width => 50, :height => 50, :class => 'user_img-login', :id => user[:user].id) %>
	    <!-- Removed checkins count
            <div class="checkins_count-login"><%= user[:checkins_count] %></div>
            -->
          </div>
        <% end %>
      </div>
      <div class="signin-intro-text">
        In MySeedlings you can<br>
        <span class="glyphicon glyphicon-user"></span> Meet people.<br>
        <span class="glyphicon glyphicon-comment"></span> Chat with others here.<br>
        <span class="glyphicon glyphicon-gift"></span> Play to win weekly rewards.<br>            
        <span class="glyphicon glyphicon-leaf"></span> Help water the garden.<br>
        <!-- Other icons
        <span class="glyphicon glyphicon-home"></span> Post to wall.<br>    
        <span class="glyphicon glyphicon-home"></span>Checkin to say hi.<br>
        <span class="glyphicon glyphicon-leaf"></span>

        -->
      </div>
    </div>
    <div class="signin-button">
      <%= link_to "Sign in using Facebook", user_omniauth_authorize_path(:facebook),  :class => "btn btn-primary btn-lg", :role => "button"  %>
    </div>

    <p style="text-align:center; font-size:10px;margin:5px;"><br>Pssst, this is a private social network and we will never post anything on FB. To create your account fast we can use your Facebook photo and name. Still wary? You can try it out below anonymously!</p>


  </div>
  <!-- Possible background image (removed to make it faster to load
  <div class="signin-image-mobile">
    <%= image_tag("seedlings-logo.png", alt: "logo") %>   
  </div>
  -->  

  <div class="span10 offset1 studydisclaimer">


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#note" data-toggle="tab">Anonymous</a></li>
  <li><a href="#ethics" data-toggle="tab">Ethics Disclaimer</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="note">

    <div class="tutorial-text">
       Need help or have comments? Email: <a href="mailto:roberto@alumni.ubc.ca">roberto@alumni.ubc.ca</a> 
    </div>

    <!-- CHECKIN Removed for experiment
    <h4>Checkin Anonymously:</h4>
    <%=
   	unless @user.nil?
	  render 'checkins/checkin_form', :user => @user, :display => @display, :checkin_today => [] 
   	end
    %>
    -->

    <h4>Publish a Note:</h4>
    <div class="tutorial-text">
      Notes are small messages you can publish on the large display. They can be read by everyone.
    </div>
    <div style="font-size:14px;">
    <%= form_for(@note) do |f| %>     
      <%= render 'notes/fields', f: f %><br>
      <%= f.submit "Send", class: "btn btn-large btn-primary" %> 
    <% end %>
    </div>


  <!-- FEATURES REMOVED FOR EXPERIMENT
  <div class="features-intro">
     In MySeedlings you can post public messages, meet other people that also visit Seedlings, and send private messages or virtual gifts.
  </div>

  <div class="feature"> 
    <div class="feature-image"><%= image_tag("feature-apps.png") %></div>
    <div class="feature-text">Access interactive Apps.</div>
  </div>
  <div class="feature"> 
    <div class="feature-image"><%= image_tag("feature-map.png") %></div>
    <div class="feature-text">Understand your community.</div>
  </div>
  <div class="feature"> 
    <div class="feature-image"><%= image_tag("feature-note.png") %></div>
    <div class="feature-text">Publish notes.</div>
  </div>

  <div class="feature"> 
    <div class="feature-image"><%= image_tag("feature-checkin.png") %></div>
    <div class="feature-text">Checkin for points.</div>
  </div>
  --> 

</div>

<div class="tab-pane" id="ethics">
This application is part of a behavioural study conducted by the Principal Investigator Dr. Sidney Fels (Associate Professor, Department of Electrical and Computer Engineering, University of British Columbia (604) 822-5338) and the Investigator Roberto Calderon ( PhD candidate. Media and Graphics Interdisciplinary Centre. Universtity of British Columbia.) <br>

The research attempts to understand how information and communication technologies (mobile phones, electronics and public displays), social media and gaming are used in social places. The current research has developed a system using large LCD screens, electronics and mobile web applications for social places. To understand how people use these applications and the effects that they have on the communities that use them we will conduct the following procedures:<br><br>
<ul>
<li>Ethnographic observations and notes taken by researchers, consisting of observing your usage (1-5 mins daily for 2 months) of technology.</li>
<li>Anonymous logs of your usage of the applications: pages visited, messages, and buttons clicked/tapped.</li>
</ul>
<br>
The data gathered from this experiment will be made anonymous by using a subject number , this will preserve your confidentiality. Identifiable data will be stored securely in a password protected server at the Media and Graphics Interdisciplinary Centre. All data from individual participants will be coded so that their anonymity is protected in any project reports and presentations that result from this experiment. The results of this study will be reported in a PhD thesis and may also be published in conference proceedings, journal articles and books. </br>

As potential benefits, you will gain the ability to interact with members of your local community, strangers and people outside your private social circles. Furthermore, in the future other people and communities might benefit from what we learn in this study. By participating in our research you are at risk of having to confront strangers and interact with technologies you are not familiar with.<br> 
Researchers might record video or take photographs. All video and photographs will be made anonymous by covering your face entirely with a black circle. Only researchers under this project will have access to the data. Video will be used only by researchers to observe your natural interaction with technologies (mobile phones, and public displays). Photographs might be disseminated in scientific publications, in which case, researchers will be made anonymous by covering your face (and other features that make you recognizable) with black circles.<br><br>

If you have any concerns or complaints about your rights as a research participant and/or your experiences while participating in this study, contact the Research Participant Complaint Line in the UBC Office of Research Services at 604-822-8598 or if long distance e-mail RSIL@ors.ubc.ca or call toll free 1-877-822-8598.

  </div>
</div>

  


</div>

</div>
