<!--
REmoved so that it all fits nicely
  <div class="span11 offset1">
-->

<div class="row">

    <% if @is_a_winner %>   
    <div class="winner-flash">
        <span class="glyphicon glyphicon-gift"></span> Yay <%= @user.name.split(' ').first %>! You are a <b>Week Winner</b>! To collect your voucher visit Seedlings Tuesday or Wednesday, from 11am to 1pm, or contact <a href="mailto:roberto@alumni.ubc.ca"><b>roberto@alumni.ubc.ca</b>.</a>
    </div>
    <hr>
    <% end %>

    <div class="col-xs-12">
       <h4>Your points this week:</h4> 
    </div>


    <div class="col-xs-8">       
       <%= image_tag(@user.picture_url, alt: "User Picture", class: 'user_profile_picture' ) %>
    </div>
    <div class="col-xs-4">
       <div class="week_score"><%= @user.score(@display, Time.zone.now.beginning_of_week, Time.zone.now)['score'] %></div>
    </div>

    <div class="col-xs-12">
       <div class="favours_count"><%= @user.score(@display, Time.zone.now.beginning_of_week, Time.zone.now)['favours'] %></div>    
       <div class="score_blank">+</div>
       <% if @display.setup.experimental_setup == 0 %>
          <div class="checkins_count"><%= @user.score(@display, Time.zone.now.beginning_of_week, Time.zone.now)['checkins'] %></div>
       <% elsif @display.setup.experimental_setup == 1 %>
          <div class="place_points_count"><%= @user.score(@display,Time.zone.now.beginning_of_week, Time.zone.now)['pool_points'] %></div>
       <% end %>
       <div class="score_blank">=</div>
    </div>

    <div class="col-xs-12">    
       <div class="tutorial-text">
          Hi <%= @user.name.split(' ').first %>. Welcome to MySeedlings, a game and social network. Earn points each week when you water the garden or send-respond to "Help" requests. Every Monday the top 3 players win a FREE meal at Seedlings. <a href='<%= "/people/#{@display_id}" %>'>See other People.</a>
       </div>
    </div>

    

    <% if @display.setup.experimental_setup == 0 %>
    <!-- Checkins --> 
    <div class="col-xs-12">
       <hr><h4>Your Water points this week:</h4> 
    </div>
    <div class="col-xs-8">
       <div class="tutorial-text">
          Earn 1 point every time you water the garden. 
       </div>
    </div>
    <div class="col-xs-4">
       <div class="checkins_count"><%= @user.score(@display, Time.zone.now.beginning_of_week, Time.zone.now)['checkins'] %></div>
    </div>
    <% elsif @display.setup.experimental_setup == 1 %>


    <!-- Place -->
    <div class="col-xs-12">
       <hr><h4>Your Harvest points this week:</h4> 
    </div>
    <div class="col-xs-8">
          <div class="tutorial-text">Everyone that helps to water the garden <%= @display.score(Time.zone.now.beginning_of_week, Time.zone.now)['pool_size'] %> times earns <%= @display.score(Time.zone.now.beginning_of_week, Time.zone.now)['pool_size'] %> points. Currently <%= @display.score(Time.zone.now.beginning_of_week, Time.zone.now)['current_pool'] %> people have watered the garden. Convince other people to help out!</div>
    </div>
    <div class="col-xs-4">
          <div class="place_points_count"><%= @user.score(@display,Time.zone.now.beginning_of_week, Time.zone.now)['pool_points'] %></div>
    </div>
    <% end %>   



    <!-- Garden Gauge-->
    <div class="col-xs-12">       
       <%
          score = @display.score(Time.zone.now.beginning_of_week, Time.zone.now) 
          barPercentage = (score["current_pool"]*100)/score["pool_size"]
          barHeight = (barPercentage*170)/100+5
          
          if @display.setup.experimental_setup == 0
              backgroundUrl = "assets/gauge-water-mobile.png"
          elsif @display.setup.experimental_setup == 1
              backgroundUrl = "assets/gauge-harvest-mobile.png"
          end
       %>
       <div id="gauge-background" style="width:230px;height:200px; position:relative; background-image: url('<%= backgroundUrl%>'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
		<span id="gauge" style="width:90px; height:<%= barHeight %>px; background-color:#428BCA; display:inline-block; position:absolute; bottom:10px; left:30px; border-radius:5px;"></span>
	</div>
    </div>

    <!-- Checkin button -->
    <div class="col-xs-12">
       <%= render 'checkins/checkin_form', :user => @user, :display => @display, :checkin_today => @checkin_today %>
    </div>





    <!-- Favours --> 
    <div class="col-xs-12">
       <hr><h4>Your Help points this week:</h4> 
      <div class="tutorial-text">Earn help points by answering to, or requesting, "help" points from other people. When "help" is answered both the issuer and resolver will earn 1 point. <a href='<%= "/people/#{@display_id}" %>'>See other People</a> and visit their profiles to request "help" points.</div>
    </div>

    <div class="col-xs-8">
       <div class="profile-favourlist">
          <% if @favours.empty? %>
             <div class="tutorial-text">
               <span class="glyphicon glyphicon-info-sign"></span> You have no "Help" point requests yet. Visit <a href='<%= "/people/#{@display_id}" %>'>other people's profiles</a> to request some points! 
             </div>
          <% end %>  
          <% @favours.each do |f| %>
             <% fromuser = User.find(f.from_id) %>
             <div class="profile-favourlist-item">


	       <%= render 'favours/reciprocatefavour_form', :favour_id => f.id%>
   	       <span class="favourflash"></span>
	       Request by <%= link_to image_tag(fromuser.thumbnail_url, :border => 0, :width => 20, :height => 20, :id => fromuser.id), {:action => 'new', :controller => 'messages', :user_id => fromuser.id, :class => 'user_thumb', id: @display.unique_id} %> on <%= f.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%a %b %d") %>
  	       <br><%= link_to "Message them", {:action => 'new', :controller => 'messages', id: @display.unique_id, user_id: fromuser.id} %>


 	     </div>
          <% end %>
       </div>
     </div>

     <div class="col-xs-4">
        <div class="favours_count"><%= @user.score(@display, Time.zone.now.beginning_of_week, Time.zone.now)['favours'] %></div>
     </div>



    <!-- Gifts -->
    <div class="col-xs-12">
       <hr><h4>Gifts you have received:</h4> 
       <div class="tutorial-text">These are virtual gifts, kind of like "pokes", other people have sent you. Collect them!</div>
    </div>
    <div class="col-xs-12">
       <div class="profile-giftlist">    
          <% if @gifts.empty? %>
             <div class="tutorial-text">
               <span class="glyphicon glyphicon-gift"></span> You have no gifts yet :(
             </div>
          <% end %>  
          <% @gifts.each do |g| %>

             <% fromuser = User.find(g.from_id) %>
             <div class="profile-giftlist-item">
   	       <!-- Draw only one type -->
               <span class="giftflash"></span>
 	       <!-- Draw according to type of gift -->
	       <!--
   	       <% if g.gift_type == 0 %>
	          <span class="glyphicon glyphicon-gift giftflash"></span>
               <% elsif g.gift_type == 1 %>
	          <span class="glyphicon glyphicon-music giftflash"></span>
               <% elsif g.gift_type == 2 %>
	          <span class="glyphicon glyphicon-star giftflash"></span>
               <% elsif g.gift_type == 3 %>
	          <span class="glyphicon glyphicon-heart giftflash"></span>
	       <% end %> 
               -->
	       Sent by <%= link_to image_tag(fromuser.thumbnail_url, :border => 0, :width => 20, :height => 20, :id => fromuser.id), {:action => 'new', :controller => 'messages', :user_id => fromuser.id, :class => 'user_thumb', id: @display.unique_id} %> on <%= g.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%a %b %d") %>
 	       <br><%= link_to "Message them", {:action => 'new', :controller => 'messages', id: @display.unique_id, user_id: fromuser.id} %>




	     </div>
          <% end %>
       </div>
    </div>

</div>
<!--
  </div>

-->



