<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <% #<div class="nav-collapse collapse"> %>
        <ul class="nav pull-right">
          <li><%= link_to "Apps", mobile_path(@display_id) %></li>
          <li><%= link_to "Note", notes_new_path(@display_id) %></li>
          <li><%= link_to "Checkin", checkins_path(@display_id) %></li>
          <li><a href='<%= "/people/#{@display_id}" %>'>People</a></li>
          <%= image_tag @user.thumbnail_url,  size: "40x40" %>
        </ul>
      <% #</div> %>
  </div>
</div>

