
<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-inner">

     <div class="nav pull-right">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
     <button type="button" class="btn bg-primary">Menu</button>

      <%= 
	  unless @user.nil? 
	    image_tag @user.thumbnail_url,  size: "40x40" 
	  end
      %>

      </a> 
     </div>

     <div class="nav-collapse collapse">
        <ul class="nav pull-left">
          <li><a href='/profile'>Profile</a></li>
          <li><a href='<%= "/people/#{@display_id}" %>'>People</a></li>
          <li><%= link_to "Note", notes_new_path(@display_id) %></li>

          <!-- Removed for now" -->
          <li class="hidden"><%= link_to "Checkins", checkins_path(@display_id) %></li>
          <li class="hidden"><%= link_to "Apps", mobile_path(@display_id) %></li>       

          <li><%= link_to "Signout", signoutuser_path %></li>
        </ul>
      </div>

  </div>
</nav>



