<!DOCTYPE html>
<html>
<head>
  <title>MAGIC Container</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "home" %>

  <!-- testing faye -->
  <%= javascript_include_tag "http://#{request.env['SERVER_NAME']}:9292/faye.js" %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>




</div>


</body>


</html>
